<div *ngIf="this.width>768" class="container bg-white h-100 w-100">
  <ul class="nav align-items-center h-100 px-5">
    <li class="nav-item">
      <i class="mx-auto work-india-briefcase" style="width: 14px;height:14px; display: inline-block;"></i>
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <i class="mx-auto work-india-recharge" style="width: 14px;height:14px; display: inline-block;"></i>
      <a class="nav-link" href="#">Recharge</a>
    </li>
    <li class="nav-item">
      <i class="mx-auto work-india-postJob" style="width: 14px;height:14px; display: inline-block;"></i>
      <a class="nav-link" href="#">Post Job</a>
    </li>
    <li class="nav-item">
      <i class="mx-auto work-india-help" style="width: 14px;height:14px; display: inline-block;"></i>
      <a class="nav-link" href="#">Help</a>
    </li>
    <li class="nav-item">
      <i class="mx-auto work-india-profile" style="width: 14px;height:14px; display: inline-block;"></i>
      <a class="nav-link active" href="#">Profile</a>
    </li>
  </ul>
</div>


<ul *ngIf="this.width <= 767" class="bottom-nav" style="box-shadow: 0px -1px 6px rgba(0, 0, 0, 0.15);">
  <li class="text-center m-auto text-10 color-7A7A7A">
    <i class="mx-auto work-india-briefcase" style="margin-top: 12.5px; width: 24px;height:24px; display: block;"></i>
    Home
  </li>
  <li class="text-center m-auto text-10 color-7A7A7A">
    <i class="mx-auto work-india-recharge" style="margin-top: 12.5px; width: 24px;height:24px; display: block;"></i>
    Recharge
  </li>
  <li class="text-center m-auto text-10 color-7A7A7A">
    <i class="mx-auto work-india-postJob" style="margin-top: 12.5px; width: 24px;height:24px; display: block;"></i>
    Post Job
  </li>
  <li class="text-center m-auto text-10 color-7A7A7A">
    <i class="mx-auto work-india-help" style="margin-top: 12.5px; width: 24px;height:24px; display: block;"></i>
    Help
  </li>
  <li class="text-center m-auto text-10 color-7A7A7A">
    <i class="mx-auto work-india-profile" style="margin-top: 12.5px; width: 24px;height:24px; display: block;"></i>
    Profile
  </li>
</ul>
