<app-navbar class="navbar top-nav p-0" [ngStyle]="{'background-color': width>768 ? 'white' : 'transparent'}"></app-navbar>
<div class="container font-family-NotoSans-Regular text-14" [ngStyle]="{'margin-top': width>768 ? '21px' : '-41px'}">
  <div class="rounded bg-white" style="box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);">
    <div class="font-family-NotoSans-Bold text-20 color-545454 d-flex justify-content-between padding">
      <div>{{recruiter}}</div>
      <div><img src="../assets/icons/edit.svg"></div>
    </div>
    <hr class="m-0">
    <div class="row m-auto" style="padding: 22px;">
      <div class="col-6 col-sm-6 col-md-4 color-7F7F7F text-13 pb-2 p-0">
        <fa-icon [icon]="faPhone"></fa-icon><span style="padding: 8px;">{{recruiterPhNo}}</span>
      </div>
      <div class="col-6 col-sm-6 col-md-4 color-7F7F7F text-13 pb-2 p-0">
        <fa-icon [icon]="faEnvelope"></fa-icon><span style="padding: 8px;">{{recruiterEmail}}</span>
      </div>
      <div class="col-6 col-sm-6 col-md-4 color-7F7F7F text-13 pb-2 p-0">
        <fa-icon [icon]="faSuitcase"></fa-icon><span style="padding: 8px;">{{recruiterJobId}}</span>
      </div>
    </div>
  </div>


  <div class="rounded bg-white" style="margin-top: 17px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25); height: 65px">
    <div class="color-545454 d-flex justify-content-between align-items-center
    " style="padding-top: 10px; padding-bottom: 10px; padding-left: 22px; padding-right: 22px">
      <div>
        <div class="font-family-NotoSans-Bold text-20">&#8377;{{walletAmt}}</div>
        <div class="text-13 color-7F7F7F" style="margin-left: 12px;">Wallet</div>
      </div>
      <div><button class="text-white text-14 recharge font-family-NotoSans-Bold">Recharge</button></div>
    </div>
  </div>



  <div class="rounded bg-white" style="margin-top: 17px; box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);">
    <ng-container class="action">
      <ul style="padding: 20px;">
        <li class="list-unstyled" style="padding: 10px" *ngFor="let row of options">
          <span class="text-14 color-545454 py-2 text-center w-65"><img [src]="row.icon"></span>
          <span class="text-14 color-545454 py-2" style="margin-left: 20px;">{{row.text}}</span>
        </li>
      </ul>
    </ng-container>
  </div>


